body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  border: 1px solid black;
  padding: 3px
}

.bigger {
  font-size: 150%;
  text-decoration: underline;
}

.matchupcard {
  border: 1px solid black;

}

.matchup {
  display: flex;
  flex: 1;
}

.tagtiecard {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.active-filter {
  border: 3px solid green;
}